@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
body {
  color: black !important;
}
.light-mode {
  color: white !important;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
/* ------------------------ */
/* SPINNER */
.spinner-div {
  display: flex;
  justify-content: center;
}
.spinner {
  width: 26px;
  height: 26px;
  display: grid;
  border: 2.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
/* ------------------------ */
/* BACKGROUND */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #1f2a40;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 65%;
  width: 97px;
  height: 97px;
  bottom: -97px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 7%;
  width: 95px;
  height: 95px;
  bottom: -95px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 41%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 36%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 35%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 60%;
  width: 99px;
  height: 99px;
  bottom: -99px;
  animation-delay: 11s;
}
.background li:nth-child(6) {
  left: 74%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 14s;
}
.background li:nth-child(7) {
  left: 79%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 3s;
}
.background li:nth-child(8) {
  left: 51%;
  width: 79px;
  height: 79px;
  bottom: -79px;
  animation-delay: 6s;
}
.background li:nth-child(9) {
  left: 69%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 17s;
}
.background li:nth-child(10) {
  left: 71%;
  width: 84px;
  height: 84px;
  bottom: -84px;
  animation-delay: 13s;
}
.background li:nth-child(11) {
  left: 89%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 34s;
}
.background li:nth-child(12) {
  left: 2%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 6s;
}
